// sass
// 1. 定义变量
$primary-color: #42b983;
$breakpoint-md: 768px;
// 2. 嵌套规则
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    &:hover {
      color: red;
    }
  }
}
// 3. 混合 Mixins  <Mixins 允许你定义可重用的 CSS 代码块，并可以传递参数。>ss
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// .button {
// @include 是 SCSS 中的一个指令，用于调用一个 Mixin。Mixin 是一种可以重用的代码块，类似于函数，但它用于生成 CSS 代码。
// 通过 @include，你可以将 Mixin 中定义的样式应用到当前选择器中。
//   @include border-radius(10px);
// }

// 4. 继承
%message-shared {
  padding: 10px;
  border: 1px solid #ccc;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}

// 5. 运算
// .container {
//   width: 100% - 20px;
// }

// 6. 函数
@function calculate-rem($px) {
  @return $px / 16 * 1rem;
}

//   body {
//     font-size: calculate-rem(16px);
//   }
